
        body {
            font-family: 'Open Sans', sans-serif;
        }

        header {
            background-color: #52a7fa;
            width: 100%;
            margin-top: -20px;
            color: #fff;
    
        }

        nav {
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            width: 80%;
        }

        li {
            display: inline;
        }

        h1 {
            display: flex;
            align-self: center;
            font-size: 35px;

        }

        h2 {
            color: #585c63;
            font-size: 25px;
        }

        h3 {
            color: #52a7fa;
            font-size: 20px;
            font-family: 'Lato', sans-serif;
        }

        p {
            font-size: 14px;
            color: #5c5c5c;
        }

        .menu {
            color: #fff;
            padding: 15px;
            display: inline-flex;
            align-self: center;
            margin-top: 10px;
            margin-left:  50px;
            font-size: 19px;
        }

        main {
            margin: 0 auto;
            width: 80%;
        }

        .mainContainer {
            background-color: #dddee1;
            margin-top: 20px;
            padding: 5px 15px 5px 15px;
        }


        .likesBar {
            background-color: #f29119;
            margin-top: -10px;
        }

        .likesBar li {
            color: #fff;
            padding: 10px 35px 10px 5px;
        }
